# This is a comment explaining why we are ignoring this directory
/build
/bin
/obj
/node_modules
/.vscode
/.idea
.DS_Store
*.log
*.exe
*.dll
*.pyc
.env
src/*/tmp/    # This pattern already specifies a certain level within 'src'
/temp
